button {
  border: none;
  background-color: rgb(161, 152, 152);
  font-size: 48px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

.equals {
  background-color: rgb(19, 218, 62);
}

.equals:hover {
  background-color: rgb(116, 167, 116);
}

.clear {
  color: rgb(255, 255, 255);
  background-color: rgb(202, 23, 23);
}

.clear:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(172, 88, 77);
}
