.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-template-areas:
    "a a b"
    "a a c";
  align-items: center;
  justify-items: center;
}

.item-list {
  grid-area: a;
  justify-self: center;
}

.money-input {
  grid-area: b;
  justify-self: left;
  padding-bottom: 0px;
}

.soda-id-input {
  grid-area: c;
  justify-self: left;
}

.input-label {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
}
