.header {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  font-style: oblique;
  font-weight: 5000;
  display: block;
  padding-bottom: 40px;
}

.headers {
  position: sticky;
  background-color: aliceblue;
  top: 0;
}

table {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  table-layout: fixed;
  height: 425px;
  width: 100%;
  overflow: scroll;
  background-color: aliceblue;
  margin-bottom: 60px;
  border-radius: 10px;
  border-style: groove;
}

th {
  text-align: center;
  font-size: 30px;
}

td {
  font-size: 20px;
  text-align: center;
  padding: 30px;
  padding-bottom: 5px;
}
